name: day${AOC_DAY_PADDED}
description: Solution for Advent of Code 2024 Day ${AOC_DAY}
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.5.4

dependencies:
  aoc:
    path: ../_shared/aoc

dev_dependencies:
  lints: ^4.0.0