<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="day${AOC_DAY_PADDED}.dart" type="DartCommandLineRunConfigurationType" factoryName="Dart Command Line Application" nameIsGenerated="true">
    <option name="filePath" value="$PROJECT_DIR$/bin/day${AOC_DAY_PADDED}.dart" />
    <option name="workingDirectory" value="$PROJECT_DIR$" />
    <method v="2" />
  </configuration>
</component>